.outer [dir="ltr"] .inner-nested {
  margin-left: 1rem;
}
.outer [dir="rtl"] .inner-nested {
  margin-right: 1rem;
}
.outer .inner-nested {
  margin-top: 1rem;
}
.animation {
  -webkit-animation: pulse 1s linear infinite both;
  animation: pulse 1s linear infinite both;
}
@media (prefers-reduced-motion) {
  .animation {
    -webkit-animation-name: dissolve;
    animation-name: dissolve;
  }
}
a {
  left: 1rem;
  right: 2.5rem;
}
